* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    padding: 25px;
    background-color: #098;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.nav-link {
    text-decoration: none;
    color: #00114e;
    margin: 0 7px;
}
header {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}
header img {
    border-radius: 30px;
}
main {
    width: 800px;
    margin: auto;
}
footer {
    width: 100%;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: #222;
    color: #eee;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
footer a {
    color: #eee;
    text-transform: capitalize;
}