---
import '../styles/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My First Astro Project</title>
	</head>	
	<body>
		<nav>
			<a href="/">home</a>
			<a href="/blog">blog</a>
			<a href="/about">about</a>
		</nav>
		<header>
			<img src="https://picsum.photos/id/0/800/600" alt="">
		</header>
		<main>
			<h1>Astro Project 1109</h1>
			<h2>2024/11/9</h2>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, placeat nulla. Odio reprehenderit iste architecto quod omnis aspernatur provident vitae sit, fugit recusandae! Eos laboriosam aliquid quam aliquam, hic quod.
			</p>
		</main>
	</body>
</html>
