---
import Sns from './Sns.astro'
---
<footer>
    <div>
        CopyRights&copy;. All Rights Reserved.
    </div>
    <div>
        <Sns platform="github" domain="github" username="a19860101" />
        <Sns platform="youtube" domain="youtube" username="@r-w-d" />
    </div>
</footer>