---
import NavLink from './NavLink.astro'
---
<nav class="mb-5 w-full flex justify-center bg-emerald-600 text-zinc-50 hover:*:bg-emerald-200 hover:*:text-zinc-900 *:duration-500">
    <!-- <a href="/">home</a> -->
    <!-- <a href="/blog">blog</a> -->
    <!-- <a href="/about">about</a> -->
    <NavLink url="/" title="首頁" />
    <NavLink url="/blog" title="文章" />
    <NavLink url="/about" title="關於我" />
</nav>