---
import Tag from "./Tag.astro"
const {url, data} = Astro.props
---
<div class="card">
    <a href={url}>
        <div class="hero">
            <img src={data.image.url} alt={data.image.alt} class="cover">
        </div>
        <div class="card-body">
            <h2>{data.title.slice(0,15)}...</h2> 
            <div>更新日期{data.pubDate.slice(0,10)}</div>
        </div>
    </a>
</div>  
<style>
    .tag {
        display: inline-block;
        /* padding: 10px; */
        background-color: #fa0;
    }
    .card {
            background-color: #e8e8e8;
            border-radius:  10px;
            overflow: hidden;
    }
    .hero {
        aspect-ratio: 16 / 9;
        margin-bottom: 15px;
    }
    a {
        text-decoration: none;
        color: #222;
    }
    .card-body {
        padding: 15px;
    }
</style>