---
const {tag} = Astro.props
---
<a href={`/tags/${tag}`} 
class="bg-amber-400 rounded-lg text-sm py-1 px-3 hover:bg-amber-200 duration-500"
>{tag}</a>
<!-- <style>
    .tag {
        background-color: #fa0;
        border-radius: 8px;
        font-size: 14px;
        padding: 5px 12px;
        color: #000;
        text-decoration: none;
    }
</style> -->