---
// import '../styles/style.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
// const title = 'My First Astro Project'
const { 
    title='DEFAULT',
    desc='我是敘述'
 } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc}>
    <title>LCC WEB - {title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
</head>
<body>
    <!-- <Nav></Nav> -->
    <Nav />
    <main class="mx-auto max-w-[800px] px-4 sm:px-0 mb-20">
        <slot>
            
        </slot>
    </main>
    <!-- <Footer></Footer> -->
     <Footer />
</body>
</html>